# Python Exercise

## 2.1 Basic

### 2.1.2 The Zen of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### 2.1.3 Indent

In [12]:
for i in [1, 2, 3, 4, 5]:
    print("i=", i)
    for j in [1, 2, 3, 4, 5]:
        print("j=",j)
        print("i+j=", i+j)
    print(i)
print("done looping")

i= 1
j= 1
i+j= 2
j= 2
i+j= 3
j= 3
i+j= 4
j= 4
i+j= 5
j= 5
i+j= 6
1
i= 2
j= 1
i+j= 3
j= 2
i+j= 4
j= 3
i+j= 5
j= 4
i+j= 6
j= 5
i+j= 7
2
i= 3
j= 1
i+j= 4
j= 2
i+j= 5
j= 3
i+j= 6
j= 4
i+j= 7
j= 5
i+j= 8
3
i= 4
j= 1
i+j= 5
j= 2
i+j= 6
j= 3
i+j= 7
j= 4
i+j= 8
j= 5
i+j= 9
4
i= 5
j= 1
i+j= 6
j= 2
i+j= 7
j= 3
i+j= 8
j= 4
i+j= 9
j= 5
i+j= 10
5
done looping

**`whitespace`** ignored in **`parentheses ( )`**, **`brackets []`**

In [13]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
easier_to_read_list_of_lists= [ [1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9] ]

**`backslash \`** can line change

In [15]:
two_plus_three = 2 + \
                 3

### 2.1.4 Module

In [17]:
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)

In [20]:
# Alias
import matplotlib.pyplot as plt

In [21]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

> Don't do this

In [24]:
match = 10
from re import *
print(match)

# re 에도 match 함수가 존재 override 됨 !!!

<function match at 0x104326840>

### 2.1.5 Calc

> python 2.7 이면 5/2 -> 2 가 나옴

In [29]:
from __future__ import division

In [30]:
print(5/2)

2.5

In [31]:
print(5//2)

2

In [32]:
print(5%2)

1

### 2.1.6 Function

use **`def`** to define function

In [35]:
def double(x):
    """
    function description area
    ex) parameter, return type etc
    """
    return x*2

파이썬 함수들은 변수로 할당, 함수의 인자로 전달 가능, **`first-class (일급함수)`**

In [46]:
def apply_to_one(f):
    """parameter가 10인 함수 f를 호출"""
    return f(10)

In [47]:
my_double = double
x = apply_to_one(my_double)
x

20

> **Lambda func**

In [48]:
y = apply_to_one(lambda x: x + 4)
y

14

In [49]:
another_double = lambda x: 2*x # 이 방법은 피합시다.
def another_double(x): return 2 * x

In [54]:
def my_print(message = "my deault message"):
    """set parameter default value"""
    print(message)

In [53]:
my_print("hello")
my_print()

hello
my deault message

In [57]:
def substract(a = 0, b = 0):
    """set parameter name """
    return a - b

In [59]:
substract(10, 5)

5

In [60]:
substract(0, 5)

-5

In [61]:
substract(b = 5)

-5

### 2.1.7 String

In [62]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [66]:
tab_string = "\t"
print(len(tab_string))
print(tab_string)

1

In [67]:
not_tab_string = r"\t"
print(len(not_tab_string))
print(not_tab_string)

2
\t

In [69]:
multi_line_string = """this is the first line
and this is the second line
and this is the third line
"""
print(multi_line_string)

this is the first line
and this is the second line
and this is the third line

### 2.1.8 Exception Handling

In [71]:
try:
    print(0/0)
except ZeroDivisionError:
    print("can not divide by zero")

can not divide by zero

### 2.1.9 List

list는 **순서가 있는** 자료의 **`집합(collection)`**

In [74]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

list_length = len(integer_list)
list_sum = sum(integer_list)

print(list_length)
print(list_sum)

3
6

In [85]:
x = range(10)
x

range(0, 10)

In [86]:
zero = x[0]
zero

0

In [87]:
one = x[1]
one

1

In [88]:
nine = x[-1]
nine

9

In [89]:
eight = x[-2]
eight

8

In [90]:
# python2.7
x[0] = -1
x

TypeError: 'range' object does not support item assignment

In [91]:
# python3
x = list(range(10))
x[0]= -1
x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
first_three = x[:3]
first_three

[-1, 1, 2]

In [93]:
three_to_end = x[3:]
three_to_end

[3, 4, 5, 6, 7, 8, 9]

In [94]:
one_to_four = x[1:5]
one_to_four

[1, 2, 3, 4]

In [96]:
last_three = x[-3:]
last_three

[7, 8, 9]

In [97]:
without_first_and_last = x[1:-1]
without_first_and_last

[1, 2, 3, 4, 5, 6, 7, 8]

In [100]:
x[0] = -1
copy_of_x = x[:]
x[0] = 0

In [101]:
print(copy_of_x)
print(x)

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
1 in [1, 2, 3]

True

In [103]:
0 in [1, 2, 3]

False

In [105]:
x = [1, 2, 3]
x.extend([4, 5, 6])
x

[1, 2, 3, 4, 5, 6]

In [107]:
x = [1, 2, 3]
y = x + [4, 5, 6]
y

[1, 2, 3, 4, 5, 6]

In [108]:
x = [1, 2, 3]
x.append(0)
x

[1, 2, 3, 0]

In [112]:
x, y = [1, 2]
print("x: {%d} y: {%d}" %(x, y))

x: {1} y: {2}

In [114]:
_, y = [1, 2]

### Tu