# Python Exercise

## 2.1 Basic

### 2.1.2 The Zen of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### 2.1.3 Indent

In [12]:
for i in [1, 2, 3, 4, 5]:
    print("i=", i)
    for j in [1, 2, 3, 4, 5]:
        print("j=",j)
        print("i+j=", i+j)
    print(i)
print("done looping")

i= 1
j= 1
i+j= 2
j= 2
i+j= 3
j= 3
i+j= 4
j= 4
i+j= 5
j= 5
i+j= 6
1
i= 2
j= 1
i+j= 3
j= 2
i+j= 4
j= 3
i+j= 5
j= 4
i+j= 6
j= 5
i+j= 7
2
i= 3
j= 1
i+j= 4
j= 2
i+j= 5
j= 3
i+j= 6
j= 4
i+j= 7
j= 5
i+j= 8
3
i= 4
j= 1
i+j= 5
j= 2
i+j= 6
j= 3
i+j= 7
j= 4
i+j= 8
j= 5
i+j= 9
4
i= 5
j= 1
i+j= 6
j= 2
i+j= 7
j= 3
i+j= 8
j= 4
i+j= 9
j= 5
i+j= 10
5
done looping

**`whitespace`** ignored in **`parentheses ( )`**, **`brackets []`**

In [13]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
easier_to_read_list_of_lists= [ [1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9] ]

**`backslash \`** can line change

In [15]:
two_plus_three = 2 + \
                 3

### 2.1.4 Module

In [17]:
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)

In [20]:
# Alias
import matplotlib.pyplot as plt

In [21]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

> Don't do this

In [24]:
match = 10
from re import *
print(match)

# re 에도 match 함수가 존재 override 됨 !!!

<function match at 0x104326840>

### 2.1.5 Calc

> python 2.7 이면 5/2 -> 2 가 나옴

In [29]:
from __future__ import division

In [30]:
print(5/2)

2.5

In [31]:
print(5//2)

2

In [32]:
print(5%2)

1

### 2.1.6 Function

use **`def`** to define function

In [35]:
def double(x):
    """
    function description area
    ex) parameter, return type etc
    """
    return x*2

파이썬 함수들은 변수로 할당, 함수의 인자로 전달 가능, **`first-class (일급함수)`**

In [46]:
def apply_to_one(f):
    """parameter가 10인 함수 f를 호출"""
    return f(10)

In [47]:
my_double = double
x = apply_to_one(my_double)
x

20

> **Lambda func**

In [48]:
y = apply_to_one(lambda x: x + 4)
y

14

In [49]:
another_double = lambda x: 2*x # 이 방법은 피합시다.
def another_double(x): return 2 * x

In [54]:
def my_print(message = "my deault message"):
    """set parameter default value"""
    print(message)

In [53]:
my_print("hello")
my_print()

hello
my deault message

In [57]:
def substract(a = 0, b = 0):
    """set parameter name """
    return a - b

In [59]:
substract(10, 5)

5

In [60]:
substract(0, 5)

-5

In [61]:
substract(b = 5)

-5

### 2.1.7 String

In [62]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [66]:
tab_string = "\t"
print(len(tab_string))
print(tab_string)

1

In [67]:
not_tab_string = r"\t"
print(len(not_tab_string))
print(not_tab_string)

2
\t

In [69]:
multi_line_string = """this is the first line
and this is the second line
and this is the third line
"""
print(multi_line_string)

this is the first line
and this is the second line
and this is the third line

### 2.1.8 Exception Handling

In [71]:
try:
    print(0/0)
except ZeroDivisionError:
    print("can not divide by zero")

can not divide by zero

### 2.1.9 List

list는 **순서가 있는** 자료의 **`집합(collection)`**

In [74]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

list_length = len(integer_list)
list_sum = sum(integer_list)

print(list_length)
print(list_sum)

3
6

In [85]:
x = range(10)
x

range(0, 10)

In [86]:
zero = x[0]
zero

0

In [87]:
one = x[1]
one

1

In [88]:
nine = x[-1]
nine

9

In [89]:
eight = x[-2]
eight

8

In [90]:
# python2.7
x[0] = -1
x

TypeError: 'range' object does not support item assignment

In [91]:
# python3
x = list(range(10))
x[0]= -1
x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
first_three = x[:3]
first_three

[-1, 1, 2]

In [93]:
three_to_end = x[3:]
three_to_end

[3, 4, 5, 6, 7, 8, 9]

In [94]:
one_to_four = x[1:5]
one_to_four

[1, 2, 3, 4]

In [96]:
last_three = x[-3:]
last_three

[7, 8, 9]

In [97]:
without_first_and_last = x[1:-1]
without_first_and_last

[1, 2, 3, 4, 5, 6, 7, 8]

In [100]:
x[0] = -1
copy_of_x = x[:]
x[0] = 0

In [101]:
print(copy_of_x)
print(x)

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
1 in [1, 2, 3]

True

In [103]:
0 in [1, 2, 3]

False

In [105]:
x = [1, 2, 3]
x.extend([4, 5, 6])
x

[1, 2, 3, 4, 5, 6]

In [107]:
x = [1, 2, 3]
y = x + [4, 5, 6]
y

[1, 2, 3, 4, 5, 6]

In [108]:
x = [1, 2, 3]
x.append(0)
x

[1, 2, 3, 0]

In [112]:
x, y = [1, 2]
print("x: {%d} y: {%d}" %(x, y))

x: {1} y: {2}

In [114]:
_, y = [1, 2]

### 2.1.10 Tuple

> 변경할 수 없습니다 !!!!! 수정을 제외한 list의 모든 기능을 사용가능!

**`()`** 혹은 **`아무런 기호 없이`** 정의함

In [117]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3

In [118]:
try:
    my_tuple[1] = 3
except TypeError:
    print("can not modify a tuple")

can not modify a tuple

> **함수에서 여러 값을 반환할 때 tuple 사용하면 편함**

In [122]:
def sum_and_product(x, y):
    return (x+y), (x*y)
sp = sum_and_product(2, 3)
s, p = sum_and_product(5, 10)

print(sp)
print(sp[0])
print(sp[-1])
print(s, p)

(5, 6)
5
6
15 50

In [123]:
x, y = 1, 2
print(x, y)
x, y = y, x
print(x, y)

1 2
2 1

### 2. 1. 11 Dict

In [124]:
empty_dict = {} #pythonic
empty_dict2 = dict() #less pythonic
grades = {"Joel": 80, "Tim": 95}
grades

{'Joel': 80, 'Tim': 95}

In [126]:
joels_grade = grades["Joel"]
joels_grade

80

In [128]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

no grade for Kate!

In [129]:
joel_has_grade = "Joel" in grades
print(joels_grade)
kate_has_grade = "Kate" in grades
print(kate_has_grade)

80
False

In [130]:
joels_grade = grades.get("Joel", 0)
print(joels_grade)
kates_grade = grades.get("Kate", 0)
print(kates_grade)
no_one_grade = grades.get("No One")
print(no_one_grade)

80
0
None

In [131]:
grades["Tim"] = 99
grades["Kate"] = 100
grades

{'Joel': 80, 'Tim': 99, 'Kate': 100}

In [137]:
tweet = {
    "user": "joelgrus",
    "text": "data Science is Awesome",
    "re_tweet_count": 100,
    "hashtags": ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [138]:
tweet_keys = tweet.keys()
tweet_keys

dict_keys(['user', 'text', 're_tweet_count', 'hashtags'])

In [140]:
tweet_values = tweet.values()
tweet_values

dict_values(['joelgrus', 'data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [141]:
tweet_items = tweet.items()
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'data Science is Awesome'), ('re_tweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [143]:
"user" in tweet_keys #list 에서 in 으로 찾아서 느림

True

In [145]:
"user" in tweet #훨씬 pythonic , 빠름

True

In [147]:
"joelgrus" in tweet_values #list 에서 in 으로 찾아서 느림

True

In [148]:
"joelgrus" in tweet

False

#### Defaultdict

In [1]:
word_counts = {}
for word in document:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

NameError: name 'document' is not defined

In [2]:
word_counts = {}
for word in document:
    try:
        word_counts[word] += 1
    except KeyError:
        word_counts[word] = 1

NameError: name 'document' is not defined

In [3]:
word_counts = {}
for word in document:
    previous_count = word_counts.get(word, 0)
    word_counts[word] = previous_count + 1

NameError: name 'document' is not defined

> `defaultdict` 는 `dict` 와 다르게 없는 key가 주어지면 이 **`key`**랑 **`params`**로 항목을 **`추가`**해준다.

In [14]:
from collections import defaultdict

word_counts = defaultdict(int) #int() => int type을 생성
word_counts

defaultdict(int, {})

In [ ]:
for word in document:
    word_counts[word] += 1

In [17]:
dd_list = defaultdict(list)
dd_list

defaultdict(list, {})

In [18]:
dd_list[2].append(1)

In [19]:
dd_list

defaultdict(list, {2: [1]})

In [24]:
type(dd_list)

collections.defaultdict

In [23]:
dd_list[2]

[1]

In [25]:
dd_dict = defaultdict(dict)
dd_dict["Joel"]["City"] = "Seatle"
dd_dict

defaultdict(dict, {'Joel': {'City': 'Seatle'}})

In [30]:
dd_pair = defaultdict(lambda: [0,0])
dd_pair[2][0] = 1
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [1, 0]})

#### Counter

In [33]:
from collections import Counter

# 빈도수 측정
c = Counter([0, 1, 2, 0])
c

Counter({0: 2, 1: 1, 2: 1})

In [ ]:
word_counts = Counter(document)

for word, count in word_counts.most_common(10):
    print(word, count)

### 2.1.12 Set

> **Unique 항목의 집합**

In [35]:
s = set()
s.add(1)
s.add(2)
s.add(2)
x = len(s)
y = 2 in s
z = 3 in s
print(s, x, y, z)

{1, 2} 2 True False

> **`in`** 연산에 빠름

In [ ]:
stopwords_list = ["a", "an", "at"] + hundreds_of_other_words + ["yet", "you"]
"zip" in stopwords_list

In [ ]:
stopwords_set = set(stopwords_list)
"zip" in stopwords_set

> **중복제거됨**

In [36]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list)
print(num_items)
item_set = set(item_list)
print(len(item_set))
distinct_item_list = list(item_set)
print(distinct_item_list)

6
3
[1, 2, 3]

### 2.1.13 Flow Control

In [37]:
if 1 > 2:
    msg = "if only 1 were greather than two..."
elif 1 > 3:
    msg = "elif stans for 'else if'"
else:
    msg = "when all else fails use else (if you want to)"
print(msg)

when all else fails use else (if you want to)

> **!important**

In [38]:
parity = "even" if x%2 == 0 else "odd"

In [40]:
for x in range(10):
    if x == 3:
        continue # 다음으로 이동 (건너뛴다)
    if x == 5:
        break # 반복문 자체가 종료
    print(x)

0
1
2
4

### 2.1.14 True False

In [42]:
one_is_less_than_two = 1 < 2
true_equals_false = True == False
print(one_is_less_than_two)
print(true_equals_false)

True
False

In [43]:
x = None
print(x == None) # Not Pythonic
print(x is None) # Pythonic

True
True

> `False` example

`False`
`None`
`[]`
`{}`
`""`
`set()`
`0`
`0.0`

In [ ]:
s = some_function_that_returns_a_string()
if s:
    first_char = s[0]
else:
    first_char = ""

In [ ]:
first_char = s and s[0]
# and 는 첫번째 값이 True이면 두번째 값을 return, 첫번째 값이 False이면 첫번째 값을 return

In [47]:
# example
s = "if only 1 were greather than two..."
first_char = s and s[0]
first_char

'i'

In [48]:
s = ""
first_char = s and s[0]
first_char

''

In [51]:
x = None
safe_x = x or 0
safe_x

0

> **`all`** vs **`any`**

In [52]:
all([True, 1, {3}])

True

In [53]:
all([True, 1, {}])

False

In [54]:
any([True, 1, {}])

True

In [58]:
all([]) # 헷갈릴 수 있다. False 인게 하나도 없으니까 True

True

In [57]:
any([]) # 헷갈릴 수 있다. True 인게 하나도 없으니까 False

False